
h2{
  padding: 20px;
}
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}


//dsadsadada
.sidebar-wrapper{
  background-color: white;
  width:100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top:5px;
  margin-bottom:5px;
}
.wrapper-contend{
  display: flex;
  width: 1200px;

}/* Content */
.content {
  grid-column: 1;
  width: 830px;
  min-height: 500px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;

}
.main-container{
  background: #fafdff;
  width: 100%;
}
.page-show-title{
  background: #04AA6D;
  height: 200px;
  font-size: larger;
  color: #fafdff;
  display: flex;
  align-items: center;
  justify-content: center;

}

.content__title {
  text-align: center;
  font-weight: 500;
  margin: 10px 0 15px;

  font-size: 22px;

}
.content__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
/* profile */

.event_list{
  display: none;
  margin: 10px;
}




.event-form-container{
  text-align: center;
  width: 830px;
}
.event-form-input{
  margin: 25px 10px 25px 10px ;
  height: 6vh;
  width: 800px;
}
.form-submit-add-event,.form-submit{
  margin: 10px 10px 10px 10px ;
  color: white;
  height: 6vh;
  background-color: #04AA6D;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  max-width: 800px;
}
.form-submit:hover {
  background-color: #048263;
}
.btn-add-event{
  height: 5vh;
  margin: 10px;
}
.event-info-img-container{
  text-align: center;
}
.event-info-img{
  height: 70vw;
  min-height: 150px;
  max-height: 300px;
}
.event-info-content{
  margin: 20px;
}
.btn-edit-event,.btn-delete-event{
  width: 50vh;
  height: 4vh;
}

.form-submit{
  width: 800px;
}
