<div class="main-container">
  <div class="page-show-title">
    <h1>Добавить события</h1>
  </div>
  <main class="content">
      <div class="event-form-container">
        <form (submit)="createEvent()">

          <h4 *ngIf="errorMessage" style="color: red">{{errorMessage}}</h4>
          <input type="text" placeholder="Названия события"
                 class="event-form-input" [(ngModel)]="event.title"
                 name="title" required>
          <textarea  class="event-form-input"
                     placeholder="Описания события"[(ngModel)]="event.description"
                     name="description" required></textarea>
          <input type="text" class="event-form-input"
                 placeholder="Локация события" [(ngModel)]="event.city" name="city"
                 required>
          <input type="datetime-local" [(ngModel)]="event.eventDay" name="day">
          Фото события:
          <input type="file" (change)="onFileSelected($event)" accept="image/jpeg, image/png">
          <div *ngFor="let personImage of event.eventPhotos">
            <img [src] = "getImageUrl(personImage)" width="200" height="200" alt="Фото профиля">
<!--            <button (click)="delImageUrl(personImage)">Удалить аву</button>-->
          </div>
<!--          Фото события: <input type="file" name="file2" class="event-form-input" >-->
<!--          Фото события: <input type="file" name="file3" class="event-form-input" >-->

          <button type="submit" class="form-submit btn">Добавить событие</button>

        </form>
      </div>
  </main>


</div>
