
<header class="header">
  <div class="logo">
    <a (click)="main()" class="a_logo">Eco Planing</a>
  </div>
  <nav class="menu">
    <a (click)="main()" class="a_menu">Главная</a>
    <a (click)="organizations()" class="a_menu">Организации</a>
    <a (click)="about()" class="a_menu">О нашем проекте</a>
<!--    <a href="#" class="a_menu">Контакты</a>-->
  </nav>
  <div class="login-reg">
    <div *ngIf="userName; else login">
      <a ><strong (click)="profile()">{{userName}}/</strong></a>
      <a (click)="logout()"><strong>Выйти</strong></a>
    </div>
    <ng-template #login>
      <a (click)="loginIn()">Стать волонтером / Войти</a>
    </ng-template>
  </div>
</header>
