<div class="main-container">
  <div class="page-show-title">
    <h1>Профиль пользователя</h1>
  </div>
  <main class="content">
    <div class="profile">
      <div class="profile_title">

        <div *ngIf="images.length === 0">
          <input #fileInputRef type="file" (change)="onFileSelected($event)" accept="image/jpeg, image/png">
        </div>



        <div *ngFor="let personImage of images">
          <img class="avatar" [src] = "getImageUrl(personImage)" width="250" height="250" alt="Фото профиля">
          <h3>{{ profile.fio }}</h3>
          <button class="edit-btn-profile" (click)="delImageUrl(personImage)" style="width:250px" >редактировать </button>
          <div class="profile-footer">
            <p>{{ profile.email }}</p>
            <p>{{ profile.phone }}</p>
            <p>рейтинг: <strong>{{ profile.rating }}</strong></p>
          </div>
        </div>

      </div>

      <div class="profile_content">
        <div class="profile_content_info">
          <h3>Обо мне</h3>
          {{ profile.description }}
        </div>
        <button class="btn-add-event" (click)="createEvent()"> Добавить Event</button>
        <div class="profile_events">
          <h3>Волонтерская деятельность</h3>
          <br>

          <div *ngIf="events">
            <hr>
            <br>
            <div  *ngFor="let eventList of events">
              <div class="events-list">
                <p class="event-title">{{eventList.title}}</p>
                <p>{{eventList.eventDay}}</p>
                <button class="btn-delete-event" (click)="delEvent(eventList.id)">Удалить</button>
              </div>
              <br>
              <hr>
            </div>

          </div>

        </div>

      </div>

    </div>
  </main>
</div>
