<div class="container">
  <header class="header">
    <div class="logo">Eco Planing</div>
    <nav class="menu">
      <a href="">Главная</a>
      <a href="">Организации</a>
      <a href="">О нас</a>
      <a href="">Контакты</a>
    </nav>
    <div class="login-reg">
      <a href="#">{{profile.email}}</a>
    </div>
    <i class="fa-solid fa-bars mobile-menu"></i>
  </header>
  <main class="content">
    <div class="content__title">Профиль</div>
    <div class="profile">
      <div class="profile_title">
        <h3>{{ profile.fio }}</h3>
        <p>{{ profile.email }}</p>
        <p>{{ profile.phone }}</p>
        <p><strong>{{ profile.rating }}</strong></p>
        <ul>
          <li *ngFor="let r of profile.role">{{ r }}</li>
        </ul>
      </div>
      <div class="profile_content">
        <div class="profile_content_info">
          <h3>Обо мне</h3>
          Организатор масштабных мероприятии,
          опыть более 2 лет. Имею свою ивент агентство
          по организация и оформление мероприятии.
        </div>
        <div class="profile_events">
          <h3>Волонтерская деятельность</h3>
          <ul  id="event_type" class="profile_events_types">
            <li class="event">Планируемые события</li>
            <li class="event">Реализованные события</li>
            <li class="event">Пропущенные события</li>
          </ul>



          <div class="event_list" >
            нет планируемых событий
          </div>
          <div class="event_list">
            нет реализованных событий
          </div>
          <div class="event_list">
            нет организованных событий
          </div>
        </div>

      </div>
      <script>
        // Get all the event list divs
        var eventListDivs = document.getElementsByClassName("event_list");
        // Get all the event list items
        var eventListItems = document.getElementsByClassName("event");
        // Add click event listeners to each event list item
        for (var i = 0; i < eventListItems.length; i++) {
          eventListItems[i].addEventListener("click", function() {
            // Hide all event list divs
            for (var j = 0; j < eventListDivs.length; j++) {
              eventListDivs[j].style.display = "none";
            }
            // Get the index of the clicked event list item
            var index = Array.prototype.indexOf.call(eventListItems, this);
            // Show the corresponding event list div
            eventListDivs[index].style.display = "block";
          });
        }
      </script>

      <label>Фотографии:</label>
      <div *ngIf="!profile.imgIds">
        <input #fileInputRef type="file" (change)="onFileSelected($event)" accept="image/jpeg, image/png">
      </div>
      <div *ngFor="let personImage of images">-->
        <img [src] = "getImageUrl(personImage)" width="200" height="200" alt="Фото профиля">
        <button (click)="delImageUrl(personImage)"></button>
      </div>

    </div>
    <!--  <div>-->
    <!--    <label>Фотографии:</label>-->
    <!--    <div *ngFor="let url of profile.imgUrls">-->
    <!--      <img [src]="url" alt="Фото профиля">-->
    <!--    </div>-->
    <!--  </div>-->
  </main>
  <div class="sidebar">
    <div class="block-title">Поиск событий</div>
    <div class="block block_flex">
      <input type="text" placeholder="Названия" />
      <button type="button">Найти</button>
    </div>
    <div class="block-title">Сортировка по локации</div>
    <div class="block block_flex">
      <input type="text" placeholder="Город" />
      <button type="button">Сортировка</button>
    </div>
  </div>
  <footer class="footer">
    © ECO planing 2023 | Волонтерская платформа ;)
  </footer>
</div>

