
.content {
  grid-column: 1;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  min-height: 500px;
  background: white;
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
}
.content__title {
  text-align: center;
  padding: 20px 20px;
  font-weight: 500;
  //margin: 10px 0 15px;
  font-size: 22px;
}
.wrapper-about{
  display: flex;
}
.about-content{
  padding: 0px 10px;
}
.main-img{
  width: 300px;
  margin: 0px 0px 10px 10px;
}

.page-show-title{
  background: #04AA6D;
  height: 200px;
  font-size: larger;
  color: #fafdff;
  display: flex;
  align-items: center;
  justify-content: center;

}
.admin-panel-wrapper{
  display: flex;
  justify-content: center;

}
img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
//admin table styles
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
