<div class="wrapper-contend">
  <main class="content">
    <div class="content__title">Eco planing проект</div>
    <div class="wrapper-about">
      <div class="img-container">
        <img class="main-img" src="../../../assets/images/biocom.jpg" alt="asd">
      </div>
      <div class="about-content">
        <p>
          We have already said that the level
          of ecology in Kazakhstan is low, and in
          particular air pollution, lack of water, drought,
          garbage problem and many other environmental problems that
          harm the environment and our land.
        </p>
        <br>
        <p>
          Of course, the most important factor
          in solving these problems is the person. Because we are the creators of the major
          environmental problems mentioned above.
        </p>
        <p>
          Because of humanity, the planet we live on
          is going to destruction, of course, this must be prevented. To do this, we need
          to keep the environment clean and tidy.
        </p>
        <p>
          For this, as we know, various sweepings are
          held in the country, as soon as spring comes or on holidays, the state organize many
          sweepings. Actions will be held within the framework of nature conservation.
        </p>

      </div>

    </div>
    <div class="social-media-icons">
      <div class="">Cледи за нами : </div>
      <a href=""><img class="icon" src="../../../assets/images/instagram.png"></a>
      <img class="icon" src="../../../assets/images/telegram.png">
      <img class="icon" src="../../../assets/images/whatsapp.png">
    </div>

  </main>
  <div class="sidebar-wrapper">
    <app-sidebar></app-sidebar>
  </div>
</div>

