/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap'); */

* {
  margin: 0;
  box-sizing: border-box;
}


//a:hover {
//  color: #048263;
//}
//li:hover{
//  color: #048263;
//}

body {
  //display: grid;
  //justify-items: center;
  font-family: 'Roboto Slab', serif;
  min-height: 100vh;
  grid-template-rows: auto 1fr;
  min-width: 100vh;
}

.title {
  //margin: 15px;
}
.wrapper{

}
.content-wrapper{
  //display: flex;
  //margin-top: 140px;
  //justify-content: center;
}

