<div class="main-container">
  <div class="page-show-title">
    <h1>Список волонтеров</h1>
  </div>
  <div class="volunters-container">
    <div class="side1">

    </div>
    <div class="content">
      <hr>
      <div class="person" *ngFor="let user of users">
        <img [src] = "getImageUrl(user.userPhotos[0])" width="70px" height="70px">
        <div class="person-desc">
          <div class="person-info">
            <div class="person-name">
              {{user.fio}}
            </div>
            <div class="person-rating">
              рейтинг: {{user.rating}}
            </div>
            <div class="person-email">
              <a href="mailto:{{user.email}}">{{user.email}}</a>
            </div>
          </div>
          <br>
          <div class="person-location">
            {{user.city}}
          </div>
        </div>
        <div *ngIf="isAdmin">
          <button  class="btn-delete-user" (click)="deleteUser(user.id)">
            Удалить
          </button>
        </div>
      </div>

      <mat-paginator [length]="filter.totalItems" [pageSize]="filter.pageSize" (page)="onPageChange($event)"></mat-paginator>

    </div>
  </div>
</div>
