<div class="main-container">
  <div class="page-show-title">
    <h1>Список волонтеров</h1>
  </div>
  <div class="volunters-container">
    <div class="side1">

    </div>
    <div class="content">
      <hr>
      <div class="person">
        <img src="/assets/images/telegram.png" width="70px" height="70px">
        <div class="person-desc">
          <div class="person-info">
            <div class="person-name">
              Almat Erasyl
            </div>
            <div class="person-rating">
              рейтинг: 100
            </div>
            <div class="person-email">
              <a href="mailto:bagitbek1@gmail.com">bagitbek1@gmail.com</a>
            </div>
          </div>
          <br>
          <div class="person-location">
            Акмолинская область, Астана
          </div>
        </div>
      </div>
      <hr>
      <div class="person">
        <img src="/assets/images/telegram.png" width="70px" height="70px">
        <div class="person-desc">
          <div class="person-info">
            <div class="person-name">
              Almat Erasyl
            </div>
            <div class="person-rating">
              рейтинг: 100
            </div>
            <div class="person-email">
              <a href="mailto:bagitbek1@gmail.com">bagitbek1@gmail.com</a>
            </div>
          </div>
          <br>
          <div class="person-location">
            Акмолинская область, Астана
          </div>
        </div>
      </div>
      <hr>
      <div class="person">
        <img src="/assets/images/telegram.png" width="70px" height="70px">
        <div class="person-desc">
          <div class="person-info">
            <div class="person-name">
              Almat Erasyl
            </div>
            <div class="person-rating">
              рейтинг: 100
            </div>
            <div class="person-email">
              <a href="mailto:bagitbek1@gmail.com">bagitbek1@gmail.com</a>
            </div>
          </div>
          <br>
          <div class="person-location">
            Акмолинская область, Астана
          </div>
        </div>
      </div>
      <hr>
      <div class="person">
        <img src="/assets/images/telegram.png" width="70px" height="70px">
        <div class="person-desc">
          <div class="person-info">
            <div class="person-name">
              Almat Erasyl
            </div>
            <div class="person-rating">
              рейтинг: 100
            </div>
            <div class="person-email">
              <a href="mailto:bagitbek1@gmail.com">bagitbek1@gmail.com</a>
            </div>
          </div>
          <br>
          <div class="person-location">
            Акмолинская область, Астана
          </div>
        </div>
      </div>
      <hr>
      <div class="person">
        <img src="/assets/images/telegram.png" width="70px" height="70px">
        <div class="person-desc">
          <div class="person-info">
            <div class="person-name">
              Almat Erasyl
            </div>
            <div class="person-rating">
              рейтинг: 100
            </div>
            <div class="person-email">
              <a href="mailto:bagitbek1@gmail.com">bagitbek1@gmail.com</a>
            </div>
          </div>
          <br>
          <div class="person-location">
            Акмолинская область, Астана
          </div>
        </div>
      </div>
      <hr>
      <div class="person">
        <img src="/assets/images/telegram.png" width="70px" height="70px">
        <div class="person-desc">
          <div class="person-info">
            <div class="person-name">
              Almat Erasyl
            </div>
            <div class="person-rating">
              рейтинг: 100
            </div>
            <div class="person-email">
              <a href="mailto:bagitbek1@gmail.com">bagitbek1@gmail.com</a>
            </div>
          </div>
          <br>
          <div class="person-location">
            Акмолинская область, Астана
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
