
<div class="main-container">
  <div class="page-show-title">
    <h1>Волонтерские событие</h1>
  </div>
  <div class="search-line">
    <div class="block-title">Поиск событий</div>
    <div class="block block_flex">
      <input type="text" placeholder="Названия" />
      <button type="button">Найти</button>
    </div>
  </div>
  <main class="content">
      <div *ngIf="eventList" class="content__cards">

        <div *ngFor="let event of eventList" class="card">
              <img class="card__img" [src] = "getImageUrl(event.eventPhotos[0])" alt="Фото профиля">
              <div class="card__content">
                <div class="card__title"><a (click)="getEvent(event.id)">{{event.title}}</a></div>
                <br>
                <div class="card__desc">
                  {{event.description}}
                </div>
                <div class="card__info">
                  {{event.eventDay}}
                </div>
                <br>
                <p style="font-family: 'Geologica', sans-serif;"><strong>Волонтеры</strong>: {{event.subscribersCount}}</p>
                <br>
                <button (click)="subscribe(event.id)" class="btn-sub">Стать волонтером</button>
              </div>

        </div>

      </div>

<!--    </div>-->
  </main>
<!--  <div class="sidebar-wrapper">-->
<!--    <app-sidebar></app-sidebar>-->
<!--  </div>-->
</div>

