<div class="wrapper-contend">
  <main class="content">
    <div class="content__title">Волонтерские события</div>
<!--    <div class="content__cards">-->
<!--      <div *ngFor="let eventList of events">-->
<!--        {{eventList.title}}-->
<!--      </div>-->
      <div *ngIf="eventList" class="content__cards">

        <div *ngFor="let event of eventList" class="card">

              <div
                class="card__img"
                style="
                    --img: url(./taza-jol.jpg);
                  "
              >
                <img [src] = "getImageUrl(event.eventPhotos[0])" width="200" height="200" alt="Фото профиля">
              </div>
              <div class="card__content">
                <div class="card__title"><a (click)="getEvent(event.id)">{{event.title}}</a></div>
                <div class="card__desc">
                  {{event.description}}
                </div>
                <div class="card__info">
                  {{event.eventDay}}
                </div>
                <p>{{event.subscribersCount}}</p>
                <button (click)="subscribe(event.id)" class="btn-sub">Записаться</button>
              </div>

        </div>
      </div>

<!--    </div>-->
  </main>
  <div class="sidebar-wrapper">
    <app-sidebar></app-sidebar>
  </div>
</div>


