<!-- registration.component.html -->
<div class="container-main">
  <div class="form-container" id="form-container-register">
          <h2 class='title'>Регистрация</h2>
          <form (ngSubmit)="onSubmit()" #registrationForm="ngForm" class="form-registration"
                novalidate>
              <input type="text" id="firstName"
                     name="firstName" [(ngModel)]="user.firstName"
                     placeholder="имя"
                     class='form-input-register'
                     required>
              <div class="error-message" *ngIf="nameError">{{ nameError }}</div>


              <input type="text" id="lastName"
                     name="lastName" [(ngModel)]="user.lastName"
                     placeholder="фамилия" class='form-input-register'
                     required>
              <input type="text" id="phone"
                     name="phone" [(ngModel)]="user.phoneNumber"
                     placeholder="телефон" class='form-input-register'
                     required>
            <div class="error-message" *ngIf="phoneError">{{ phoneError }}</div>


            <select id="city" name="city" [(ngModel)]="user.city"
                    class='form-input-register'>
              <option value="{{ City.Almaty }}">{{ City.Almaty.valueOf() }}</option>
              <option value="{{ City.Astana }}">{{ City.Astana.valueOf() }}</option>
              <option value="{{ City.Shymkent }}">{{ City.Shymkent.valueOf() }}</option>
              <option value="{{ City.Karaganda }}">{{City.Karaganda.valueOf()}}</option>
              <option value="{{ City.Aktobe }}">{{ City.Aktobe.valueOf() }}е</option>
              <option value="{{ City.Taraz }}">{{ City.Taraz.valueOf() }}</option>
              <option value="{{ City.Pavlodar }}">{{ City.Pavlodar.valueOf() }}</option>
              <option value="{{ City.Semey }}">{{ City.Semey.valueOf() }}</option>
              <option value="{{ City.Kostanay }}">{{ City.Kostanay.valueOf() }}</option>
              <option value="{{ City.Kyzylorda }}">{{ City.Kyzylorda.valueOf() }}</option>
              <option value="{{ City.Uralsk }}">Уральск</option>
              <option value="{{ City.Petropavlovsk }}">Петропавловск</option>
              <option value="{{ City.Aktau }}">Актау</option>
              <option value="{{ City.Temirtau }}">Темиртау</option>
              <option value="{{ City.Atyrau }}">Атырау</option>
              <option value="{{ City.Kokshetau }}">Кокшетау</option>
              <option value="{{ City.Taldykorgan }}">Талдыкорган</option>
              <option value="{{ City.Oral }}">Орал</option>
              <option value="{{ City.Rudny }}">Рудный</option>
              <option value="{{ City.Ekibastuz }}">Экибастуз</option>
              <option value="{{ City.Zhezkazgan }}">Жезказган</option>
              <option value="{{ City.Turkestan }}">Туркестан</option>
              <option value="{{ City.Kentau }}">Кентау</option>
              <option value="{{ City.Kaskelen }}">Каскелен</option>
              <option value="{{ City.Zhanaozen }}">Жанаозен</option>
              <option value="{{ City.Aktau }}">Актобе</option>


            </select>

              <input type="text" id="email"
                     name="email" [(ngModel)]="user.email"
                     placeholder="Email" class='form-input-register'
                     required>
              <input type="password" id="password"
                     name="password" [(ngModel)]="user.password"
                     placeholder="новый пароль" class='form-input-register'
                     required>
              <div class="error-message" *ngIf="passwordError">{{ passwordError }}</div>

              <input type="password" id="repeatPassword"
                     name="repeatPassword" [(ngModel)]="repeatPassword"
                     placeholder="повторный пароль" class='form-input-register'
                     required>
              <div class="error-message" *ngIf="repeatPasswordError">{{ repeatPasswordError }}</div>

              <label for="userType">User Type</label>
              <select id="userType" name="userType" [(ngModel)]="roles"
                      class='form-input-register'>
                <option value="{{ UserType.ROLE_USER }}">User</option>
                <option value="{{ UserType.ROLE_ORGANIZER }}">Organizer</option>
              </select>

            <button type="submit" [disabled]="registrationForm.invalid"
              class='form-submit' id="form-submit-register"
            >Регистрация</button>
          </form>
  </div>
</div>
