
<div class="main-container">
  <div class="page-show-title">
    <h1>Волонтерские организации</h1>
  </div>

  <main class="content">
      <div class="content__cards" *ngFor="let user of users">
        <div class="card">

          <img class="card__img" [src]="getImageUrl(user.userPhotos?.[0])">
          <div class="card__content">
            <div class="card__title" (click)="enterUser(user.id)">
              {{user.fio}}
            </div>
            <div class="card__desc">
              {{user.description}}
            </div>
            <div class="card__info">
              {{user.city}}
            </div>
            <button class="card__button">Удалить</button>
          </div>
        </div>
      </div>
  </main>
</div>

