<div class="container">
  <header class="header">
    <div class="logo">Eco Planing</div>
    <nav class="menu">
      <a href="">Главная</a>
      <a href="">Организации</a>
      <a href="">О нас</a>
      <a href="">Контакты</a>
    </nav>
    <div class="login-reg">
      <a href="registration.html">Стать волонтером / Войти</a>
    </div>
    <i class="fa-solid fa-bars mobile-menu"></i>
  </header>
  <main class="content">
    <div class="content__title">Волонтерские организации</div>
    <div class="content__cards">
      <div class="card">
        <div
          class="card__img"
          style="
                  --img: url(./sos.png);
                "
        ></div>
        <div class="card__content">
          <div class="card__title">
            <a>Координационный Центр Добровольцев</a>
          </div>
          <div class="card__desc">
            Координационный Центр Добровольцев является волонтерской программой научно-образовательного
            фонда им. академика Ш. Есенова...
          </div>
          <div class="card__info">
          </div>
        </div>
      </div>
      <div class="card">
        <div
          class="card__img"
          style="
                  --img: url(./almaty-volunters.jpg);
                "
        ></div>
        <div class="card__content">
          <div class="card__title">ОФ «Almaty Volunteers»</div>
          <div class="card__desc">
            В 2019 году Алматинский городской филиал МК «Jas Otan»
            в рамках реализации проекта «Волонтерский корпус» при поддержке...
          </div>
          <div class="card__info">
          </div>
        </div>
      </div>
      <div class="card">
        <div
          class="card__img"
          style="
                  --img: url(./baurzhan.png);
                "
        ></div>
        <div class="card__content">
          <div class="card__title">Благотворительный фонд «Бауыржан»</div>
          <div class="card__desc">
            Общественная организация, чья цель — сделать благотворительность эффективней....
          </div>
          <div class="card__info">
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="sidebar">
    <div class="block-title">Поиск событий</div>
    <div class="block block_flex">
      <input type="text" placeholder="Названия" />
      <button type="button">Найти</button>
    </div>
    <div class="block-title">Сортировка по локации</div>
    <div class="block block_flex">
      <input type="text" placeholder="Город" />
      <button type="button">Сортировка</button>
    </div>
  </div>
  <footer class="footer">
    © ECO planing 2023 | Волонтерская платформа ;)
  </footer>
</div>
