.sidebar-wrapper{
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top:5px;
  margin-bottom:5px;
}
.wrapper-contend{
  display: flex;
  width: 1200px;

}

.event-info-img-container{
  text-align: center;
}
.event-info-img{
  height: 70vw;
  min-height: 150px;
  max-height: 300px;
}
.event-info-content{
  margin: 20px;
}

.event-info{
  padding: 10px;
}
.event-joiner{
  display: flex;
  justify-content: space-between;
}
.person{

}

.btn-edit-event,.btn-delete-event{
  width: 100%;
  height: 10vh;
  font-size: medium;
}
.btn-edit-event:hover,.btn-delete-event:hover{
  color: #048263;
}

.content {
  grid-column: 1;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  min-height: 500px;
  width: 950px;
  background: white;
  margin-top:5px;
  margin-right:5px;
  margin-bottom: 5px;
}
.content__title {
  text-align: center;
  font-weight: 500;
  margin:20px;
  //margin: 10px 0 15px;
  font-size: 22px;
}
button {
  cursor: pointer;
  background: #04AA6D;
  color: white;
  border: 0.5px solid #3335;
  border-radius: 2px;
}
.event-info-container{

}
.btn-event-info{
  text-align: center;
  display: flex;
  justify-content: space-around;
}


