<div class="main-container">
  <div class="page-show-title">
    <h1>Информация о событии</h1>
  </div>
  <main class="content">
    <div class="content__title">{{eventDto.title}}</div>
    <div class="event-info-container">
      <div class="event-info-img-container">
<!--        <img *ngIf="!!eventDto.eventPhotos" [src] = "getImageUrl(eventDto.eventPhotos[0])" width="700"  alt="Фото профиля">-->
        <img *ngIf="!!eventDto.eventPhotos" [src] = "getImageUrl(eventDto.eventPhotos[0])" width="400" height="400" alt="Фото профиля">
      </div>
      <div class="event-info-content">
        <div class="event-info">
          <h3>Дата проведения:  {{ formattedDate }}</h3>
          <h3>Время: {{formattedTime}}</h3>
          <h3>Кол-во учаcтников: {{eventDto.subscribersCount}} чел</h3>

          <h3>Описание мероприятие</h3>
          <p>{{eventDto.description}}</p>
          <h3>Список : </h3>
          <br>
          <hr>
          <br>
          <div *ngIf="eventDto.subscribersCount">
            <div class="event-joiner" *ngFor="let user of eventDto.subscribers">
              <div class="person">ФИО участника: {{user.fio}}</div>
              <div class="person">Рейтинг : {{user.rating}}</div>
              <div class="person">Номер телефона : {{user.phone}}</div>
              <a href="https://wa.me/{{user.phone}}" onclick="window.open(this.href,'_blank'); return false;">
                <img src="/assets/images/whatsapp_black.png">
              </a>
            </div>
            <br>
            <hr>
            <br>
          </div>
          <div *ngIf="!eventDto.subscribersCount">
            <div> Нет участников !!! </div>
          </div>
        </div>

<!--        <div class="btn-event-info">-->
<!--&lt;!&ndash;          <button class="btn-edit-event">Редактировать</button>&ndash;&gt;-->
<!--&lt;!&ndash;          <button class="btn-delete-event">Удалить</button>&ndash;&gt;-->
<!--        </div>-->

      </div>
    </div>
  </main>

</div>
