<div class="main-container">
  <div class="page-show-title">
    <h1>Информация о событии</h1>
  </div>
  <main class="content">
    <div class="content__title">{{eventDto.title}}</div>
    <div class="event-info-container">
      <div class="event-info-img-container">
        <img *ngIf="!!eventDto.eventPhotos" [src] = "getImageUrl(eventDto.eventPhotos[0])" width="700"  alt="Фото профиля">
      </div>
      <div class="event-info-content">
        <div class="event-info">
          <h3>Дата проведения:  {{ formattedDate }}</h3>
          <h3>Время: {{formattedTime}}</h3>
          <h3>Кол-во учатников: {{eventDto.subscribersCount}} чел</h3>
          <h3>Описание мероприятие</h3>
          <p>{{eventDto.description}}</p>
          <h3>Список : </h3>
          <br>
          <div *ngIf="eventDto.subscribersCount">
            <div class="event-joiner" *ngFor="let user of eventDto.subscribers">
              <div class="person">ФИО участника: {{user.fio}}</div>
              <div class="person">Рейтинг : {{user.rating}}</div>
              <div class="person">Номер телефона : {{user.phone}}</div>
            </div>
          </div>
          <div *ngIf="!eventDto.subscribersCount">
            <div> Нет участников !!! </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>
