
<div class="wrapper-contend">
  <main class="content">
    <div class="content__title">{{eventDto.title}}</div>
    <div class="event-info-container">
      <div class="event-info-img-container">
        <img src="./taza-jol.jpg" alt="" class="event-info-img">
      </div>
      <div class="event-info-content">
        <div class="event-info">
          <h5>Дата проведения:  {{ formattedDate }}</h5>
          <h5>Время: {{formattedTime}}</h5>
          <h5>Кол-во учатников: {{eventDto.subscribersCount}} чел</h5>
          <p>{{eventDto.description}}</p>
          <h5>Список : </h5>
          <div *ngIf="eventDto.subscribersCount">
            <div class="event-joiner" *ngFor="let user of eventDto.subscribers">
              <div class="person">ФИО участника: {{user.fio}}</div>
              <div class="person">Рейтинг : {{user.rating}}</div>
              <div class="person">Номер телефона : {{user.phone}}</div>
            </div>
          </div>
          <div *ngIf="!eventDto.subscribersCount">
            <div> Нет участников !!! </div>
          </div>


        </div>
      </div>

    </div>
  </main>
  <div class="sidebar-wrapper">
    <app-sidebar></app-sidebar>
  </div>

</div>
